---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
  {%- set u = item.url | noslash %}
  <url>
    <loc>https://www.banjavrujci.biz{{ u }}</loc>
    {%- if u == "/" %}
    <changefreq>weekly</changefreq><priority>1.0</priority>
    {%- elif u == "/smestaj/vile" %}
    <changefreq>weekly</changefreq><priority>0.9</priority>
    {%- elif u == "/smestaj/apartmani-banja-vrujci" %}
    <changefreq>weekly</changefreq><priority>0.9</priority>
    {%- elif u == "/smestaj/privatni" %}
    <changefreq>weekly</changefreq><priority>0.8</priority>
    {%- elif u == "/smestaj/hoteli" %}
    <changefreq>weekly</changefreq><priority>0.8</priority>
    {%- elif u == "/smestaj/sobe" %}
    <changefreq>weekly</changefreq><priority>0.7</priority>
    {%- elif "/smestaj/vile" in u or "/smestaj/apartmani-banja-vrujci" in u or "/smestaj/privatni" in u or "/smestaj/hoteli" in u or "/smestaj/sobe" in u %}
    <changefreq>monthly</changefreq><priority>0.7</priority>
    {%- elif "/vodic" in u %}
    <changefreq>monthly</changefreq><priority>0.7</priority>
    {%- elif u == "/info/vremenska-prognoza" %}
    <changefreq>daily</changefreq><priority>0.6</priority>
    {%- elif u == "/info/istorija" %}
    <changefreq>yearly</changefreq><priority>0.5</priority>
    {%- elif "/info" in u %}
    <changefreq>monthly</changefreq><priority>0.6</priority>
    {%- elif u == "/nekretnine" or u == "/vesti" %}
    <changefreq>weekly</changefreq><priority>0.6</priority>
    {%- elif u == "/kontakt" %}
    <changefreq>yearly</changefreq><priority>0.5</priority>
    {%- else %}
    <changefreq>monthly</changefreq><priority>0.5</priority>
    {%- endif %}
  </url>
{%- endfor %}
</urlset>
